body {
    background-color: #3e3e3e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 10%;
}

/* Header styles */
#mainHeader {
    background-color: #1e1e1e;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

#logo {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin-top: 40%;
    margin-right: 100%;
    display: block;
}

/* About me section */
#aboutMe {
    background-color: #2e2e2e;
    width: 80%;
    max-width: 95%;
    padding: 2% 2.5%;
    margin: 2% auto 2% auto;
    border-radius: 8px;
    color: white;
    outline: 1px solid #52407c;
}

#aboutMeText {
    font-size: 1.5vw;
}

#aboutMeParagraph {
    font-size: 1.2vw;
    line-height: 1.6;
}

/* My Projects section */
#myProjects {
    background-color: #2e2e2e;
    width: 80%;
    max-width: 95%;
    padding: 2% 2.5%;
    margin: 2% auto;
    border-radius: 8px;
    color: white;
    outline: 1px solid #52407c;
}

#myProjectsText {
    font-size: 1.5vw;
}

#myProjectsParagraph {
    font-size: 1.2vw;
    line-height: 1.6;
}

#myProjectsList {
    list-style-type: disc;
    padding-left: 5%;
}

#myProjectsSeparator {
    border: none;
    height: 2px;
    background-color: #52407c;
    margin: 5% auto;
}

#myProjectsHolder {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* New Project box styles */
.newProject {
    background-color: #2a2a2a;
    color: #FFFFFF;
    border-radius: 2%;
    padding: 2.5%;
    min-width: 300px;
    flex: 0 0 44%;
    box-shadow: 0 0.4% 1.2% rgba(0,0,0,0.5);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    margin: 0;
}

.newProject:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 0.8% 1.6% rgba(0,0,0,0.4);
    background-color: #555;
}

.newProjectTitle {
    font-size: 1.8vw;
    margin-bottom: 1.5%;
    color: #FFFFFF;
    border-bottom: 0.2% solid #52407c;
    padding-bottom: 0.5%;
}

.newProject iframe {
    width: 100%;
    height: 315px;
    border-radius: 1%;
    margin-bottom: 1.5%;
    box-shadow: 0 0.2% 0.8% rgba(0,0,0,0.4);
}

.newProjectDescription {
    font-size: 1.2vw;
    line-height: 1.6;
}

/* Link styles */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #8B5CF6;
}

@media (max-width: 800px) {
    #aboutMe {
        width: 90%;
        padding: 4%;
        margin: 15% auto;
    }

    #myProjects {
        width: 90%;
        padding: 4%;
        margin: 5% auto;
    }

   .newProject {
        flex: 0 0 100%;
        min-width: unset;
    }

    .newProjectTitle {
        font-size: 4vw;
    }

    .newProjectDescription {
        font-size: 3vw;
    }

    .newProject iframe {
        width: 100%;
        height: auto;
    }

    #logo {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin-top: 40%;
        
    }

    #aboutMeText,
    #myProjectsText {
        font-size: 3.5vw;
    }

    #aboutMeParagraph,
    #myProjectsParagraph {
        font-size: 3vw;
    }
}
